:root {
  --light-green: #BEDBBB;
  --dark-green: #8DB596;
  --brown: #92817A;
  --grey: #707070;
}

@font-face {
  font-family: nature-impact;
  src: url(../fonts/nature-impact-font/NatureImpactDemoRegular-0WAAo.otf);
}

@font-face {
  font-family: nature-spirit;
  src: url(../fonts/nature-spirit-font/NatureSpirit-jE7RM.otf);
}

@font-face {
  font-family: hand-written;
  src: url(../fonts/handwritten/Vanlose\ Handwritten.ttf);
}

body {
  background-color: var(--dark-green);
  margin: 0;
  font-family: nature-spirit;
  letter-spacing: 0.2em;
}

/* selection color */
::selection {
    background-color: var(--brown);
    color: #fff;
}
::-moz-selection {
    background-color: var(--brown);
    color: #fff;
}
::-o-selection {
    background-color: var(--brown);
    color: #fff;
}
::-ms-selection {
    background-color: var(--brown);
    color: #fff;
}
::-webkit-selection {
    background-color: var(--brown);
    color: #fff;
}

/* landing page */
h1 {
  font-family: nature-impact;
  letter-spacing: 0.3em;
}
#landing-page{
  position: relative;
}
#landing-page h1 {
  position: absolute;
  margin: 0;
  text-align: center;
  width: 100%;
  top: 40%;
  z-index: 1;
}
#main-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  padding: 0;
}
h1 span {
  font-family: hand-written;
  font-size: 1.5em;
}
/* Categories */
section#categories {
  width: 80%;
  margin: 4em auto 4em auto;
}
section#categories > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
section#categories .category {
  width: 24%;
  position: relative;
}
section#categories .category:hover {
  cursor: pointer;
}
section#categories .category::before {
  content: "";
  background-color: var(--grey);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s;
  border-radius: 20px;
}
section#categories .category:hover::before {
  opacity: 0.3;
}
section#categories h2 {
  font-size: 2em;
  margin-bottom: 2em;
}
section#categories h3 {
  width: 100%;
  padding: 0.5em 0;
  font-size: 1.5em;
  margin-bottom: 2px;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(146, 129, 122, 0.8);
  color: var(--dark-green);
  border-radius: 0 0 20px 20px;
}
section#categories img {
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 900px) {
  section#categories > div {
    flex-direction: column;
    align-items: center;
  }
  section#categories .category {
    width: 100%;
    margin-bottom: 4em;
  }
}

/* Articles */
section#articles {
  width: 80%;
  margin: 4em auto 4em auto;
}
section#articles > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
section#articles .article {
  width: 30%;
}
section#articles h2 {
  font-size: 2em;
  margin-bottom: 2em;
}
section#articles h3 {
  font-size: 1.5em;
  text-align: center;
}
section#articles p {
  font-size: 1.2em;
  font-family: Roboto;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
section#articles img {
  width: 100%;
  border-radius: 20px;
}
section#articles .img {
  position: relative;
  width: 80%;
  margin-left: 10%;
}
.article .img:hover::before {
  opacity: 0.3;
  cursor: pointer;
}
.article .img::before {
  content: "";
  background-color: var(--grey);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s;
  border-radius: 20px;
}

@media screen and (max-width: 900px) {
  section#articles > div {
    flex-direction: column;
    align-items: center;
  }
  section#articles .category {
    width: 100%;
    margin-bottom: 4em;
  }
}